.title-container a:not(.active-link) {
    color: blue;
    cursor: pointer;
    text-decoration: none;
  }

  .title-container{
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    text-size: 30px;
  }
  .active-link {
    color: blue;
  }

  .group-event-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

  }
  .group-event-section p{
    font-size: 20px
  }

  .groups-list{
    font-family: 'Dosis', sans-serif;
  }
