.main-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3rem;
    font-size: 20px;
    margin: 3rem auto;
    align-items: center;
    margin-top: 8rem;
    /* margin-bottom: 10px; */
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
  }

  .main-content-cards-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px
  }
  .main-content-meetup-works {
    text-align: center;
    margin-top: 5px;
  }

  .main-content-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    padding-left: 100px;
  }




  .main-content-join-meetup-btn {
    background-color: hsl(188, 91%, 29%);
    color: #fff;
    border: 1px solid black;
    padding: 0.3rem 0.6rem;
    box-shadow: 2px 1px 0 0 black;
    align-items: center;
    cursor: pointer;
  }

  h2 {
    color: blue;
  }

  h1 {
    font-size: 50px;
    color: blue;
  }

  .intro {
    display: flex;
    flex-direction: row;
  }

  .main-content-image {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 20px;
  }

  .start-new-group-btn-disabled {
    color: gray;
  }

  .main-content-title {
    display: flex;
    flex-direction: column;
  }

  .navlink{
    color: blue
  }

  .join-meetup{
    display: block;
    width: 150px;
    padding: 10px;
    border: solid black;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 1px 0 0 black;
    margin-bottom: 30px;
    /* justify-content: center; */
    font-family: 'Dosis', sans-serif;
  }
